* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 100%;
  height: 100%;
  background: #222;
  @include flex();
  button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(40, 180, 180);
    color: #f0f0f0;
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 10;
    &:active {
      scale: 0.95;
    }
    &:hover {
      background: rgb(37, 162, 162);
    }
  }
  .box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    p {
      font-size: 20px;
      color: #f0f0f0;
      font-weight: 800;
      text-align: center;
      padding: 10px;
    }
  }
}
