* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --color-white: #ffffff00;
  --color-black: #000;
  --x: 100px;
  --y: 100px;
}

.spotlight {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    250px at var(--x) var(--y),
    var(--color-white) 0%,
    var(--color-black) 80%
  );
}
iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* 
video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
} */
