* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#box {
  width: 20%;
  height: 40%;
  background: red;
  border-radius: 10px;
  border: 5px solid #fff;
}
button {
  padding: 20px 40px;
  background: skyblue;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

button:active {
  scale: 0.9;
}
